#slides {
  display: none;
  z-index: 9998;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: -150px;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border: 3px solid #ccc;
}
#slides ul {
  position: relative;
  list-style: none;
  width: 750px;
}
#slides ul li {
  float: left;
  width: 300px;
  height: 300px;
}
#slides ul li img {
  width: 300px;
  height: 300px;
}
#slides .clear {
  clear: both;
}
